* {box-sizing:border-box}
html, body
{
    width: 100%;
    margin: 0;
    padding: 0;
}
.Title {
    text-align: center;
    font-family: Calibri;
    width: 80.25276461295418641390205371248%;
    margin-left: auto;
    margin-right: auto;
}  
h1.Title {
    font-size: 3em;
}
h2.Title {
    font-size: 2em;
}
h3.Title{
    text-align: left;
}
.ListText{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.Text {
    font-family: Calibri;
    width: 80.25276461295418641390205371248%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}
footer.Footer{
    background-color: grey; margin-bottom: 0; overflow: hidden;
}
p.Footer{
    margin-left: 1em;
}
.TopNav {
    background-color: #f37421;
    overflow: hidden;
    position: sticky;
    top: 0;
    border-radius: 0 0 1em 1em;
}
a { 
    color: #f37421; 
} 
.siteGrid{
    display: grid;
    grid-template-columns: 30vw auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "info         formation"
    "abilities    exp      "
    "hobbies      exp      ";
}
@media screen and (min-width: 90vh){
    .Info, .Abilities, .Hobbies{
        background-color: rgba(128, 128, 128, 0.226);
        margin: 0 0 0 1em;
    }
}
.Info{
    grid-area: info;
    border-radius: 1em 1em 0 0;
    margin: 1em 0 0 1em;
}
.Formation{
    grid-area: formation;
}
.Experience{
    grid-area: exp;
}
.Abilities{
    grid-area: abilities;
}
.Hobbies{
    grid-area: hobbies;
    border-radius: 0 0 1em 1em;
    margin: 0 0 1em 1em;
}
@media screen and (max-width: 130vh){
    .siteGrid{
        display: grid;
        grid-template-columns: 39vh auto;
        grid-template-rows: repeat(8, auto);
        grid-template-areas: 
        "info         formation"
        "info         formation"
        "abilities    formation"
        "abilities    exp      "
        "abilities    exp      "
        "abilities    exp      "
        "hobbies      exp      "
        "hobbies      exp      "
    }
}
@media screen and (max-width: 90vh){
    .siteGrid{
        display: block;
    }
}